body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left:40px;
}
.col>p{color: black;}
.col >a{
  color:rgba(51, 49, 49, 0.606);
  text-decoration: none;
  line-height: 2.3;
  font-size:0.9rem;
}
#supportHero{
  background-color:#397DD0;
  color: white;
}
#supportWrapper{
  display:flex;
  justify-content:space-between;
  margin: 0 150px;
}
#supportHero input{
padding:20px 50px;
width:100%;
font-size: 18px;
border-radius: 10px;
border:none;
}